<!DOCTYPE html>
<html>
    <head>
        <title>Covid Info</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
        <style>
            .size{
                width: 50% !important;
                height: 450px !important;
            }
            .box{
                text-align: center;
                transition: transform;
                width: 100%;
                height: relative;
            }

            .box div:hover{
                transform: scale(1.05);
            }
            .table1{
                width: 100% !important;
                position: relative !important;
            }
        </style>
    </head>
    <body>
        {% include 'navbar.html' %}
        <br><br>
        <div class="container">
            <h1 class="mt-4">Dashboard</h1>
            <p style="text-align: right; font-size: small;">Last-updated-time: <b>{{time}} </b></p>
            <div class="row box">
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-primary text-white mb-4">
                        <h5 class="mt-2">Total cases</h5>
                        <hr>
                        <h1>{{total}}</h1>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-warning text-white mb-4">
                        <h5 class="mt-2">Confirmed Cases</h5>
                        <hr>
                        <h1>{{confirm}}</h1>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6" >
                    <div class="card bg-success text-white mb-4">
                        <h5 class="mt-2"> Total Recovered</h5>
                        <hr>
                        <h1>{{recover}}</h1>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-danger text-white mb-4">
                        <h5 class="mt-2">Total Deaths</h5>
                        <hr>
                        <h1>{{death}}</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="container" style="display: block; position: relative;">
            <!-- <br><br><br> -->
            <div class="row">
                <div class="col-12">
                    <h6 style="display: block;">Day-Wise chart</h6> 
                </div>
                <div class="col-12">
                    <canvas id="mychart"  style="display: block;" class="size"></canvas>
                </div>
            </div>

            
            <!-- Table data -->
            <div class="row table1 mt-5">
                <div class="card mb-5 table1">
                    <div class="card-header">
                        <i class="fas fa-table mr-1"></i>
                        DataTable Example
                    </div>
                    <div class="card-body">
                        <div class="table-responsive" style="height: 600px;overflow: scroll;">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>State</th>
                                        <th>Active cases</th>
                                        <th>Confirmed cases</th>
                                        <th>Deaths</th>
                                        <th>Recovered</th>
                                        
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>Name</th>
                                        <th>Position</th>
                                        <th>Office</th>
                                        <th>Age</th>
                                        <th>Start date</th>
                                        
                                    </tr>
                                </tfoot>
                                <tbody>
                                    {% for a in s %}
                                    <tr>
                                        <td>{{a.4}}</td>
                                        <td>{{a.1}}</td>
                                        <td>{{a.0}}</td>
                                        <td>{{a.2}}</td>
                                        <td>{{a.3}}</td>                                      
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                <!-- </div> -->
            </div>
            </div>

        </div>
    </body>

    <!-- script for chart -->
    <script>
        $(document).ready(function(){
        var url="https://api.covid19india.org/data.json";

        $.getJSON(url,function(data){
                var a=data.cases_time_series.length;
                var i;
                var total_daywise=[]
                var total_recovered=[]
                var date=[]
                var total_deaths=[]
                var m=a-10;
                
                for(i=a;i>m;i--){                  
                    var k=data.cases_time_series[i-1].totalconfirmed;
                        total_daywise.push(k);
                    k=data.cases_time_series[i-1].totalrecovered;
                        total_recovered.push(k);
                    k=data.cases_time_series[i-1].totaldeceased;
                        total_deaths.push(k);
                    k=data.cases_time_series[i-1].date;
                        date.push(k);                
                }       
                total_daywise.reverse();
                total_deaths.reverse();
                total_recovered.reverse();
                date.reverse();
            
            var mychart= document.getElementById("mychart").getContext('2d');

            var chart= new Chart(mychart,{
                type:'line',             
                data:{
                    labels:date,                   
                    datasets: [
                        {
                            data:total_daywise,
                            pointRadius: 8,
                            label: 'Total Cases',
                            fill: false,
                            borderColor: "#55bae7",                         
                            backgroundColor: "#55bae7",
                            pointBackgroundColor: "#55bae7",
                            pointBorderColor: "#55bae7",
                            pointHoverBackgroundColor: "#55bae7",
                            pointHoverBorderColor: "#55bae7",
                        },
                        {
                            label:"Total recovered",
                            data:total_recovered,
                            pointBackgroundColor:"#2ecc71",
                            pointHoverBackgroundColor: "#2ecc71",
                            pointHoverBorderColor: "#2ecc71",
                            borderColor: "#2ecc71",                         
                            backgroundColor: "#2ecc71",
                            pointBorderColor: "#2ecc71",
                            fill: false,
                            pointRadius: 8,
                            minBarLength :100,
                        },
                        {
                            label:"Total Deaths",
                            data:total_deaths,
                            pointBackgroundColor:"red",
                            pointBackgroundColor:"#F06350",
                            pointHoverBackgroundColor: "#F06350",
                            pointHoverBorderColor: "#F06350",
                            borderColor: "#F06350",                         
                            backgroundColor: "#F06350",
                            pointBorderColor: "#F06350",
                            fill: false,
                            pointRadius: 8,
                            minBarLength :100,
                        }
                    ]
                },
                options:{}    
            })
        })
        })
    </script>
</html>
