{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>Covid Detection</title>
</head>

<body>
    {% include 'navbar.html' %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="container" id="xray-input">
            <div class="row justify-content-center">
                <div class="col-lg-10 col-md-12">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h3 class="card-title">Upload X-RAY </h3>
                            <input type="file" name="sentFile" required accept="image/*" />
                            <input type="submit" name="submit" value="Upload" />

                            <p id="prediction-result">{{pred}}</p>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

</body>

</html>