body {
    background-color: #568692;
}
#xray-input{
  margin-top: 5em;
}
#prediction-result{
  margin-top: 1em;
  font-size: 1.2em;
  color: #02075d;
  font-weight: bold;
  background-color: #fcffd6;
}